In [1]:
#Let's read the full csv data set and display the top records
import pandas as pd
data = pd.read_csv('../reading files/Customer-Churn.csv')
print(data.head())

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ...  DeviceProtection  \
0  No phone service             DSL             No  ...                No
1                No             DSL            Yes  ...               Yes
2                No             DSL            Yes  ...                No
3  No phone service             DSL            Yes  ...               Yes
4                No     Fiber optic             No  ...                No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]

In [2]:
#Let's check for nulls and view the data type on each of the columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [3]:
#Lets convert TotalCharges to a numeric data type
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'])

ValueError: Unable to parse string " " at position 488

In [4]:
#lets find all records that have an empty string value in TotalCharges
data.loc[data['TotalCharges'] == ' ']

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,No
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,No
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,No
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,No
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,No
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,,No
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,,No

In [5]:
#Let's replace ' ' with 0 and validate
data['TotalCharges'] = data['TotalCharges'].replace(' ', 0)
data.loc[data['TotalCharges'] == ' ']

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

In [6]:
#Let's replace 0 in TotalCharges with the MonthlyCharges value
import numpy as np
data['TotalCharges'] = np.where(data['TotalCharges']== 0, data['MonthlyCharges'],data['TotalCharges'])

In [7]:
#Let's try converting Total Charges to numeric again
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null float64
Churn               7043 non-null object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [8]:
# Let's replace 'No Internet Service' values with 'No'
replace_cols = ['OnlineSecurity', 'OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies']
for i in replace_cols:
    data[i] = data[i].replace({'No internet service':'No'})

In [9]:
#Let's replace 'No Phone Service' with No
data['MultipleLines'] = data['MultipleLines'].replace({'No phone service':'No'})

In [10]:
#Let's replace Senior Citizen values from 1 and 0 to yes and no
data['SeniorCitizen'] = data['SeniorCitizen'].replace({1:'Yes', 0:'No'})

In [11]:
#Let's create Tenure groups
def grouptenure(data):
    
    if data['tenure']<= 10:
        return '10 or less'
    elif (data['tenure']>10) & (data['tenure']<=20):
        return '11-20'
    elif (data['tenure']>20) & (data['tenure']<=30):
        return '21-30'
    elif (data['tenure']>30) & (data['tenure']<=40):
        return '31-40'
    elif (data['tenure']>40) & (data['tenure']<=50):
        return '41-50'
    elif (data['tenure']>50) & (data['tenure']<=60):
        return '51-60'
    elif (data['tenure']>60):
        return 'greater than 60'
data['TenureGroup'] = data.apply(lambda data:grouptenure(data), axis=1)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null object
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null float64
Churn               7043 non-null object
TenureGroup         7043 non-null object
dtypes: float64(2), int64(1), object(19)
memory usage: 1.2+ MB

### Data Cleansing Summary
> -  The Total Charges column (which should be a number) is stored as an object.  To perform numerical analysis on the Total Charges column we converted the data type from object to float64.
-  During the Total Charges conversion, we found 11 records where the Total Charge value was an empty string.  Business context about the data allows us to replace these empty strings with a value of 0.
-  Six columns revealed 3 values which could be combined to 2, where 'No Internet Service' or 'No Phone Service'  was converted to 'No'.
-  For consistency, we have replaced the 1 and 0 values in SeniorCitizen with 'Yes' and 'No'.   
-  The Tenure colum contains a wide range of values, which may introduce overfitting issues during modelling, therefore we created a higher level of tenure order by creating Tenure buckets.